




<h3 class="black-text"><%= currentUser.getFullName() %> </h3>

<img src="/img/yelredblu.png" alt="target">


<h5 class="black-text">ADD TARGET</h5>
<a href="/profile/new" class="btn-floating btn-small waves-effect waves-light yellow accent-4"><i class="material-icons">add</i></a>


<% aims.forEach(function(aim) { %>


   <div class="container">
   <div class="row">
		<div class="col s12 m6 l3">
		<div class="card-panel black">
	
	  <p class="yellow-text" href="/profile/<%= aim.id %>"><%= aim.objective %></p>

	  <a href="/profile/fire/new/<%= aim.id %>" class="btn-floating btn-small waves-effect waves-light black"><i class="material-icons">add</i></a>
	
	 
	  <% aim.fires.forEach(function(fire){ %>
		<p class="red-text"><%= fire.keyResult %></p>

		<canvas id="myChart<%= fire.id %>" width="200" height="200"></canvas>

		<form action="/profile/firecurrent" method="POST" role="form">
		
          	 
 			<div class="input-field inline blue-text">
			<input type="text" name="fireId" value="<%= fire.id%>" class="hide">
			<input type="number" class="input-field inline" id="score" name="current" value="<%= fire.current %>"> of <%= fire.goal %> complete
			<input type="hidden" name="goal" value="<%= fire.goal %>">
			<input type="number" class="input-field inline" id="score" name="current" value="<%= Math.floor((fire.current / fire.goal) * 100) %>">
			</div>
			<button type="submit" class="btn-floating btn-sm waves-effect waves-light black"><i class="material-icons">track_changes</i></button>	
		</form>

	  <% }); %>

	 
	  <a href="/profile/<%= aim.id %>/edit" class="btn black"><i class="material-icons">mode_edit</i></a>
	  <a href="/profile/<%= aim.id %>" class="btn black glyphicon glyphicon-trash delete-btn"><i class="material-icons">delete</i></a>
	</div>
	</div>	
	</div>
</div>
<% }); %>

<script>
var aims = <%- JSON.stringify(aims) %>;
</script>
<script src="/js/chart.js"></script>

<!-- //include chart.js script tag// -->
